/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/database/seeds
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
resources/views/emails/salary_slip1.blade.php

/public/backend
/public/frontend
/public/uploads
